@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik+Wet+Paint&display=swap');

.daily-prophet {
    width: 59%;
    background-color: #e7e2da;
    margin: auto;
    margin-top: 5vh;
    padding: 50px;
}

.paper-header {
    height: 200px;
    background-image: url(img/paper-head.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.paper-sub-header {
    height: 120px;
    background-image: url(img/paper-sub-head.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.paper-content {
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
}

.first-article-title {
    text-align: center;
    font-size: 70px;
    font-family: "Rubik Wet Paint", system-ui;
}

.first-article-img {
    opacity: 0.7;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.first-article-text {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    line-height:30px;
    text-align: justify;
}

.second-article-text {

}

.column {

}

.second-article-title {

}

.second-article {
    
}